/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/***************/
/*             */
/*   MY CODE   */
/*             */
/***************/

:root {
    --text-main: black;
    --text-secondary: #b3b3b3;
    --background-main: #171717;
    --background-secondary: #212121;
    --background-input: rgba(255, 255, 255, 0.668);
}

body {
    background-color: black;
    background-image: url("/images/bg-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input,
button,
ul {
    all: unset;
    box-sizing: border-box;
    outline: none;
}

li,
ul {
    list-style: none; /* Remove bullets or numbering */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

button {
    cursor: pointer;
}

.app {
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    flex-grow: 1;
}

.header {
    height: 70px;
    padding: 10px 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.hero {
    width: 200px;
    display: flex;
    align-items: center;
    color: skyblue;
}
.hero-icon {
    width: 40px;
    height: 40px;
}
.hero h1 {
    letter-spacing: -5px;
}

.form-group {
    width: 500px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--background-input);
    display: flex;
    position: relative;
}

.form-group input {
    height: 100%;
    flex-grow: 1;
    opacity: 1;
    color: var(-text-main);
}

.options-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 50px;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    box-sizing: content-box;

    width: 100%;
    max-height: 350px;
    padding: 20px 0px 10px;
    border-radius: 20px;
    background-color: var(--background-input);
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.options-container li {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.322);
    border-left: 0 solid transparent; /* Initial state of border-left */
    transition: border-left 0.4s ease, background-color 0.4s ease; /* Transition for border-left and background-color */
}

.options-container li:hover {
    border-left: 10px solid skyblue;
    background-color: rgba(255, 255, 255, 0.756);
}

.input-option {
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 20px;
}

.icon {
    width: 30px;
    height: 30px;
}

.nav {
    width: 200px;
    /* display: flex; */
    /* gap: 10px; */
    /* position: relative; */
}

/* .nav button {
    background-color: white;
    padding: 8px 10px 5px;
    border-radius: 40px;
    border: 3px solid skyblue;
}

.nav button {
    position: relative;
} */

.nav button {
    background-image: linear-gradient(to right, skyblue, lightblue);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.626);
    margin: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: skyblue;
}

.loader {
    align-self: center;

    margin: 20px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid skyblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
